.shortvideopage {
    margin: 0 0 0 240px;

    .shortvideocontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .shortvideo {
            width: 352px;
            height: 626px;
            border-radius: 10px;

            img {
                border-radius: 15px;
            }
        }

        .shortvideobutton {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 626px;
            width: 64px;
            padding-left: 12px;

        }
    }
}