.homepage-video {
    height: 329px;
    width: 295px;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    cursor: pointer;
    background-color: #f9f9f9;
}

.thumbnails {
    position: relative;
    width: 100%;
    height: 167px;
}

.videoimage {
    width: 100%;
    object-fit: cover;
}

.timing {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    margin: 5px;
    padding: 3px 4px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;

}

.video-description {
    display: flex;
    height: 94px;
    position: relative;
}

.account-channel {
    padding-top: 9px;
    padding-right: 9px;
}

.account-img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;

}

.description {

    width: 200px;
    padding-right: 8px;

}

.title {
    width: 224px;
    height: 40px;
    padding-top: 9px;
}

.title>P {
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 600;

    color: #151515;


}

.vertical {
    margin: 10px 0;
    cursor: pointer;
    color: #303030;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.homepage-video:hover .vertical {
    display: block;
}



.view {
    color: #606060;
}

.channel-name {
    color: #606060;
    padding: 10px 0;
}

.block {
    display: none;
    width: 100%;
    background-color: #f9f9f9;
}

.video-button {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.homepage-video:hover {
    /* font-size: 10px; */
    transform: scale(1.3);
    height: 380px;
    z-index: 1;

}

.homepage-video:hover .block {
    display: block;
}